/* app/globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #00111c;
  color: white;
  font-family: system-ui, sans-serif;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
